*, *:before, *:after {
    box-sizing: border-box;
}
body {
    background: #0B0C24;
    height: 100vh;
    margin: 0;
    padding: 0;
}
#wrap {
    display: block;
    padding: 30px;
}
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

/* UI Screens */
#overlay {
    background-color: rgba(0,0,0, 0.5);
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 900;
}
.btn {
    padding: 10px 20px;
    cursor: pointer;
    background-color: green;
    color: #fff;
    border: 0px solid #0B0C24;
    border-radius: 4px;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
}
.btn:hover {
    background-color: darkgreen;
    transform: scale(1.1);
}
.msg-screen {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
    background-color: rgba(255,255,255, 0.9);
    border-radius: 6px;
    padding: 15px;
    width: 300px;
    height: 200px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.5);
    z-index: 950;
}
